[2017-12-16 03:01] 0x6b opened #1 "Support img tag"

[2017-12-16 03:12] 0x6b commented on #1
Ref: [webextensions-examples/context-menu-copy-link-with-types at master · mdn/webextensions-examples](https://github.com/mdn/webextensions-examples/tree/master/context-menu-copy-link-with-types)

[2017-12-16 03:16] 0x6b opened #2 "Prevent copying unnecessary quote"
While invoking the add-on without text selection, do not add brank quote to clipboard.

[2017-12-16 03:22] #2 closed

[2018-05-11 16:47] allenyllee commented on #1
Can this be help?
https://github.com/euangoddard/clipboard2markdown/tree/master

I use it to convert my copied content, including image, and it convert img tag correctly.

[2018-06-18 03:52] allenyllee commented on #1
It seems that there is an another addon can do that: [BlackGlory/Copycat: Copy content from web powerful than ever before.](https://github.com/BlackGlory/Copycat)

[2018-07-25 19:07] akavel opened #4 "Thank you very much!"
Thank you very much for writing this Firefox plugin! I totally use it and love it more and more. Just wanted to tell you somehow :)

[2018-07-28 05:31] #1 closed

[2018-07-28 05:43] 0x6b commented on #1
Sorry for delay on my end as I have some health issue recently. Anyway thanks a lot for your comments @allenyllee. I just updated with preliminary img tag support and tagged it as [v0.2.0](https://github.com/0x6b/copy-selection-as-markdown/releases/tag/v0.2.0). https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/ is just updated as well. Please have a look into the new one an

[2018-07-28 05:44] 0x6b commented on #4
@akavel thanks a lot for your warm comment. It motivates me a lot. Thanks again!

[2018-07-28 05:44] #4 closed

[2018-07-29 15:21] 0x6b opened #7 "setting is stored but not reflected on settings page"

[2018-07-30 07:02] allenyllee commented on #1
@0x6b  That's great! In some cases, your addon even more correct then copycat.
For example, I want to copy [this page](https://stats.stackexchange.com/questions/235528/backpropagation-with-softmax-cross-entropy) which contains latex formula:

![](https://screenshotscdn.firefoxusercontent.com/images/2b1748f4-40cf-4903-a3d5-a4e2a2daf59c.png)

I can get the origin latex formula via your addon:

inste

[2018-07-31 12:06] 0x6b commented on #1
It's interesting use case. Let me see how it can be implemented. I'll open a new issue for you later.

[2018-07-31 12:07] 0x6b opened #8 "Support MathJax"
From https://github.com/0x6b/copy-selection-as-markdown/issues/1#issuecomment-408766519.

[2018-08-01 13:18] 0x6b commented on #8
@allenyllee, I have implemented preliminary MathJax support at  commit 2737095de5faca8433cc55d0d2338acb6fa6cd4a. Since I'm not a MathJax guy, could you please test [this beta](https://github.com/0x6b/copy-selection-as-markdown/blob/2737095de5faca8433cc55d0d2338acb6fa6cd4a/dist/web-ext-artifacts/copy_selection_as_markdown-0.4.0-an%2Bfx.xpi) on your end? I only tested with [this page](https://stats.

[2018-08-02 01:50] 0x6b commented on #8
[new beta](https://github.com/0x6b/copy-selection-as-markdown/blob/mathjax/dist/web-ext-artifacts/copy_selection_as_markdown-0.4.1-an%2Bfx.xpi) (0.4.1) is available.

[2018-08-02 05:06] allenyllee commented on #8
@0x6b Awesome! very thanks! I think this is the first addon on firefox to support copy as markdown for MathJax. But I still find some bugs, here is the list:

## issue1:
[derivative - Backpropagation with Softmax / Cross Entropy - Cross Validated](https://stats.stackexchange.com/questions/235528/backpropagation-with-softmax-cross-entropy)
### unexpected line break
![snipaste_2018-08-02_12-33-32](h

[2018-08-02 12:50] 0x6b commented on #8
@allenyllee much appreciate your efforts! Let me see.

[2018-08-02 15:41] 0x6b opened #10 "Setup CI"
063bbf2761f759d592246e6a6a94f10bc79b065a implements unit test finally. Let's setup CI.

[2018-08-04 06:45] 0x6b commented on #8
issue2 seems to be difficult to fix with current addon implementation due to unexpected and ugly DOM structure. Still finding a way to mitigate the situation.

[2018-09-24 14:58] gandrille opened #11 "[Enhancement] include link to source in config options"
Can you add a checkbox in the configuration page to decide if the link to the source web page should be included at the beginning of the copied text ?

PS: in all cases, thanks a LOT for your extension !

[2018-09-25 10:09] 0x6b commented on #11
Hi @gandrille, appreciate your feedback!

Do you mean you don't want the extension include link to the source in the beginning of copied text, just want a copied markdown text only, right? Let me confirm your use case. Thank you.

[2018-09-25 14:11] gandrille commented on #11
Hi 0x6b,
Yes, this is what I mean.

[2018-09-25 14:30] 0x6b commented on #11
@gandrille, I got your point. Give me some time to implement!

[2018-09-25 15:45] #11 closed

[2018-09-25 16:01] 0x6b commented on #11
@gandrille, I have just released [v0.4.0](https://github.com/0x6b/copy-selection-as-markdown/releases/tag/v0.4.0) which includes the setting. Please try this on your setup. If you find any unexpected behavior, please file an issue. Thanks!

https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/versions/0.4.0

[2018-09-25 16:12] gandrille commented on #11
Just perfect! This is the exact behavior I was expecting.
Thanks a lot!

PS: if you have a paypal account, I would be happy to offer you a beer ;-)
see for example http://zim-wiki.org/contribute.html
This is ssth you can include in the README.md of your github repository

[2018-09-27 12:07] 0x6b commented on #11
@gandrille thanks a lot for your confirmation. Setting up a PayPal for a beer will be on my todo list. Anyway thanks!

[2018-10-08 11:04] evert-mouw opened #13 "syntax feature request"
Wow, I just discovered this, thanks for creating this! Very handy when making notes.
It's good as it is. But maybe it would be possible to support different Markdown syntax options? (Also inserting the current date as an option would be great and having the option to cite the source URL/title/date at the bottom.)
https://github.com/domchristie/turndown#options

[2018-10-10 11:52] 0x6b commented on #13
@evert-mouw good to hear you like my add-on! Let me implement one by one as it may need options page overhaul.

[2018-10-10 12:09] 0x6b opened #14 "add current date and time"
From #13.

[2018-10-10 12:12] 0x6b opened #15 "position configuration for URL, title, copied text, date etc."
From #13.

[2018-10-14 14:44] #13 closed

[2018-10-14 14:59] 0x6b commented on #13
v0.5.0 which includes this feature is under review by Mozilla

[2018-10-19 22:40] evert-mouw commented on #13
Wow even more than I'd hoped for, good work, I'm going to use this very often!

[2018-10-22 15:08] 0x6b commented on #13
@evert-mouw thanks! For unknown reason, review from Mozilla takes really long time. I pushed dependency-updates only version to kick the review and got instant approval. Please grab the update from you add-on page (Tools -> Add-ons -> Gear icon -> Check for Updates) or get it from [here](https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/versions/?page=1#version-0.5.2). Plea

[2018-12-07 04:55] allenyllee commented on #8
Hi, could you merge this version (0.4.1) into current version (0.5.2)? Or I have to install these two versions, one for mathjax and one for update. Thanks!

[2018-12-13 15:43] 0x6b commented on #8
Alright @allenyllee. I will release this initial mathjax support as new release (possibly opt-in feature). Give me some time as I'm extreme busy recently. Thanks for your patience!

[2018-12-17 05:41] 0x6b opened #17 "support GitHub Flavored Markdown extensions"
Will enable these by default.

[domchristie/turndown-plugin-gfm: Turndown plugin to add GitHub Flavored Markdown extensions](https://github.com/domchristie/turndown-plugin-gfm):

-   `strikethrough` (for converting `<strike>`, `<s>`, and `<del>` elements)
-   `tables`
-   `taskListItems`

[2018-12-17 15:22] #8 closed

[2018-12-17 15:46] 0x6b commented on #8
Hi @allenyllee, thank you for your patience. I've released [v0.6.0](https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/versions/0.6.0). Grab the update from your Add-on manager, check **Enable experimental MathJax support**, then hit **Save** to enable this. Thanks!

[2018-12-18 03:19] allenyllee commented on #8
Finally, it is very handy for me, very thanks!

[2018-12-21 01:40] Korodny opened #18 "Nothing gets copied to clipboard"
Firefox 60.4.0esr on Debian Testing, just installed the extension from AMO.

Trying to copy a selection of text containing headings, numbered lists etc. from [this page](https://urukrama.wordpress.com/openbox-guide/#xcompmgr), nothing ever reaches the clipboard.

Here's the only output I get in the web console:

    JQMIGRATE: Migrate is installed, version 1.4.1
    _static:9:542
    TypeError: a.

[2019-01-04 04:54] 0x6b commented on #18
@Korodny thank you for the issue. I found an issue where the plugin failed to handle `a` tag without `href` attribute. Will release new version shortly.

[2019-01-04 05:11] #18 closed

[2019-01-04 05:17] 0x6b commented on #18
@Korodny I just published v0.6.1 which fixes the issue. Please grab the update from you add-on page (Tools -> Add-ons -> Gear icon -> Check for Updates). Please open a new issue if you find any issue. Thanks!

[2019-01-04 05:50] 0x6b commented on #17
Ref.: domchristie/turndown-plugin-gfm#12

[2019-01-04 13:46] Korodny commented on #18
@0x6b Updated to the new version, stuff gets properly added to clipboard now. I did notice a few minor things though, do you want new issues for all of those? I copied chapters content, 1 and 2 including the headings from the above page and had a look at the result:

1. highlighted text is deselected after it is copied to clipboard. traditional copy-to-clipboard doesn't do that
2. when I paste the

[2019-01-07 11:19] 0x6b opened #20 "highlighted text is deselected after it is copied to clipboard"
From https://github.com/0x6b/copy-selection-as-markdown/issues/18#issuecomment-451447494:

[2019-01-07 11:21] 0x6b opened #21 "escaping Markdown characters"
From https://github.com/0x6b/copy-selection-as-markdown/issues/18#issuecomment-451447494:

[2019-01-07 11:35] #20 closed

[2019-01-07 11:42] 0x6b commented on #20
@Korodny I just published v0.6.2 which might fix this behavior. Update the add-on from you add-on page (Tools -> Add-ons -> Gear icon -> Check for Updates). Please open a new issue if you find any issue. Thanks!

[2019-01-07 13:19] 0x6b commented on #20
Found copied text is deselected in some pages but at this moment have no idea how to solve this.

[2019-01-09 15:52] #17 closed

[2019-01-11 20:38] Korodny commented on #18
The issue with escaped dots in headings is fixed in 0.7.0.

Sorry, about the 'Append quote' configuration option - missed that. Is this enabled by default? I can't remember activating it (I did fool around a bit though, so it's entirely possible). If it is, I'd open a new issue about it ;-)

[2019-01-14 14:45] 0x6b commented on #21
As noted at the [Turndown's README](https://github.com/domchristie/turndown/tree/e2c64f121a170ad04363c7da3bbf978ebcde5f7f#escaping-markdown-characters), new escaping rules is quite aggressive. I won't update to 5.0 series shortly.

[2019-01-14 14:48] 0x6b commented on #18
- I did nothing for esapes in headings. Please watch (and comment on) #21 going forward. Note that I won't address this in short term as it needs some time ([contribution](https://github.com/0x6b/copy-selection-as-markdown/blob/master/CONTRIBUTING.md) welcome!)
- The add-on appends quote by default. You don't have to open an issue as you can set via preference as you wish.

[2019-01-14 15:03] Korodny commented on #18
Well, I question the decision to make "append quote" the default ;) It's nice to have as an option, but why make it default?

[2019-01-14 15:11] 0x6b commented on #18
I got your point. It's by default as copied text is literally a quote for me. I won't surprise existing users by changing default setting.

[2019-01-22 13:16] 0x6b opened #24 "implement keyboard shortcut"
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/commands

[2019-01-23 12:55] 0x6b opened #25 "implement toolbar button"

[2019-01-23 12:56] #25 closed

[2019-01-28 14:56] 0x6b commented on #24
Working on https://github.com/0x6b/copy-selection-as-markdown/tree/shortcut branch. Await Firefox 66 release which has an UI for re-assigning keyboard shortcuts ([1303384](https://bugzilla.mozilla.org/show_bug.cgi?id=1303384)) and will be released around March 19, 2019.

[2019-01-30 11:57] 0x6b opened #27 "support iframe"
atm the extension failed to pick up text in `iframe` e.g. https://www.w3schools.com/html/html_iframe.asp > **Examples in Every Chapter**

[2019-01-30 12:14] 0x6b commented on #27
Reference: [javascript - content.getSelection() is not working when selected text is in iframe? - Stack Overflow](https://stackoverflow.com/questions/10990690/content-getselection-is-not-working-when-selected-text-is-in-iframe)

[2019-01-30 12:18] #27 closed

[2019-02-01 13:52] 0x6b opened #29 "support iframe without text selection"
Context menu is not shown when no text is selected.

Related: #27

[2019-02-01 13:55] #29 closed

[2019-02-01 14:05] 0x6b opened #31 "always copy selected text in iframe"
although select **Copy Title and URL as Markdown**. defect after #29

[2019-02-01 14:23] 0x6b commented on #31
need some code cleanup to address this issue.

[2019-02-05 09:26] Changaco opened #32 "Copy links"
I think it would be great if this extension also supported copying individual links in a page as Markdown like <https://github.com/chitsaou/copy-as-markdown> does.

**Actual Result**

Right-click on a link in a page, no option to copy the link as Markdown is available in the menu.

**Expected Result**

An option titled "Copy link as Markdown" or "Copy \[Link Content](URL)" is present in the right-

[2019-02-05 14:14] 0x6b commented on #32
@Changaco appreciate your feedback. That feature would be a natural fit for the add-on. Give me some time to implement. Thanks!

[2019-02-16 15:36] #32 closed

[2019-02-16 15:48] 0x6b commented on #32
@Changaco I just published [v0.11.0](https://github.com/0x6b/copy-selection-as-markdown/releases/tag/v0.11.0) which includes right-click-to-copy on a link. Update the add-on from you add-on page (Tools -> Add-ons -> Gear icon -> Check for Updates). Please open a new issue if you find any issue. Thanks!

[2019-02-17 14:22] dpprdan opened #35 "Firefox for Android support?"
Do you support Firefox for Android with your addon? The [changelog](https://github.com/0x6b/copy-selection-as-markdown/blob/master/CHANGELOG.md#070---2019-01-09) "set minimum version to Firefox 57 (Android is not tested though)" seems to suggest that you might. But when I try to use it (via three-dots-menu > "Copy as Markdown" at the bottom), nothing gets copied to the clipboard and I also get no

[2019-02-19 05:20] 0x6b commented on #35
@dpprdan thanks much for opening a question. I haven't been checking on Android (emulator) recently. Give me some time to check.

[2019-02-19 08:13] dpprdan commented on #35
No problem. This really helpful on desktop already, so thanks for doing this!

[2019-05-01 03:25] doneykoo opened #36 "[Feature suggestion] syntax option for images copied as html <img>"
Because for many markdown parsers, `![](url)` does not support proper width height property.

It would be great to have syntax option, to copy img just as `<img>` into copied markdown result. Also maybe copy the `width` `height` property directly from selection.

[2019-05-20 14:49] vstepaniuk opened #37 "Bring Save button to the bottom"
Is it possible to bring Save button in Firefox add-on preferences to the bottom? or make it auto save? thank you

[2019-07-14 08:54] 0x6b commented on #24
Closed via #39. Released as [v0.12.0](https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/versions/0.12.0).

[2019-07-14 08:54] #24 closed

[2019-07-14 09:17] 0x6b commented on #37
Thank you for the suggestion. Yes the small **save** button could be difficult to find and some space to improvement. I'll try to address the issue.

[2019-07-14 09:21] 0x6b commented on #36
Thank you for the suggestion. I don't have such use case at this moment but will implement in the future release. Of course pull request would be appreciated.

[2019-07-15 13:15] #37 closed

[2019-07-15 13:21] 0x6b commented on #37
Hi @vstepaniuk, just released [v0.13.0](https://github.com/0x6b/copy-selection-as-markdown/releases/tag/v0.13.0) which brings save button to the button (as well as the top). Please grab the update from you add-on page. Open a new issue if you find any issue please. Thanks!

[2019-07-15 13:53] #36 closed

[2019-07-15 14:00] 0x6b commented on #36
Hi @doneykoo I just released [v0.14.0](https://github.com/0x6b/copy-selection-as-markdown/releases/tag/v0.14.0) which introduce new setting "**Use `img` tag for image**." Hope this helps your use case. Open an issue if you find any problem. Thanks!

[2019-07-18 16:35] doneykoo commented on #36
@0x6b great job! I've just tried it, and it was great, working well and super handy. Thank you!

[2019-09-19 22:13] zebzorb opened #43 "Option to disable link styling"
I really like using this extension to paste formatted text into Discord, but Discord unfortunately doesn't support links `[like this](https://example.com)`. It just shows that without formatting and makes the `https://example.com` part clickable.

So an option to either disable link styling entirely and only copy the link's text (so the above example would look `like this`) or an option to remove

[2019-09-21 11:05] 0x6b commented on #43
Agreed. I have similar use case with Slack. Allow me think how I can implement your request.

[2019-10-14 12:01] #43 closed

[2019-10-14 12:19] 0x6b commented on #43
Hey @zebzorb I just released [v0.15.0](https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/versions/0.15.0) which implements new setting "Disable link styling." Hope this helps your use case. Open an issue if you find any problem. Thanks!

[2019-10-19 18:03] zebzorb commented on #43
Hey, thanks so much! Works great.

[2019-11-15 14:54] 0x6b opened #49 "Option to include link to source web page in context menu"
From https://addons.mozilla.org/ja/firefox/addon/copy-selection-as-markdown/reviews/1442922/.

[2019-11-15 15:11] 0x6b commented on #49
[1294429 - support more than one contextmenu entry in root menu](https://bugzilla.mozilla.org/show_bug.cgi?id=1294429) blocks me from implementing this feature without cascaded context menu. I don't like that for clickability/reachability reason. Hmm.

[2019-11-28 10:18] anishmittal2020 opened #50 "Support for Chrome and Hosting on https://add0n.com"
WebExtension API for Firefox and Chrome is probably not very different. It would be great if its also supported in Chrome as it has much larger userbase and the extension will get more attention from many new users.

Many opensource extensions are hosted at https://add0n.com/index.html; such as [Reader View :: add0n.com](https://add0n.com/chrome-reader-view.html). Most of them are cross-browser ex

[2019-12-01 11:23] 0x6b commented on #50
Appreciate your feedback @anishmittal2020 ! I'm occasional Google Chrome user and am missing my extension is there. I'll consider making this cross platform. Thank you.

[2019-12-21 17:43] Lin-Buo-Ren opened #51 "Allow adjusting padding spaces in the list markup"
**Actual Result**

[code]

**Expected Result**

Allow customizing  the quantity of the padding spaces from three to one so the resulting output can be adjusted as the following:

[code]

[2019-12-28 03:54] 0x6b commented on #51
Thanks @Lin-Buo-Ren for the request. Such feature keeps popping up in my mind. Let me see how I can implement it.

[2020-01-30 14:26] Lin-Buo-Ren opened #53 "Angle brackets not escaped"
**Actual Result**
[code]

**Expected Result**

`\<Location\>` or angle brackets escaped as HTML entities.

[2020-01-30 15:24] 0x6b commented on #53
@Lin-Buo-Ren Appreciate your efforts to report this! Will take a look next week or later.

[2020-02-06 11:20] #51 closed

[2020-02-06 12:10] #53 closed

[2020-02-06 12:26] 0x6b commented on #51
Hey @Lin-Buo-Ren  I just released v0.17.0 which implements your request -- "Reduce padding spaces for list items." Grab the new from Add-on page at your Firefox setup. Open an issue if you find any problem. Thanks!

[2020-02-06 12:28] 0x6b commented on #53
Another update for @Lin-Buo-Ren! in tandem with #51. v0.17.0 includes this feature with "Replace angle brackets (<code><></code>) with HTML entities" option. Hope this helps. Thanks!

[2020-02-06 12:28] 0x6b commented on #31
close this at this moment as I have no real issue for this.

[2020-02-06 12:28] #31 closed

[2020-02-06 12:29] 0x6b commented on #10
Close this as I have no time to setup.

[2020-02-06 12:29] #10 closed

[2020-03-19 18:05] ngirard opened #56 "Bump Turndown to latest version"
Hey,
I've just discovered this extension and I'm very satisfied with its options and functionalities: thanks for your work !

I saw that Turndown recently released a new major version: would you mind including it to a new version of c-s-a-m ?

Cheers!

[2020-03-20 04:27] 0x6b commented on #56
@ngirard thanks a lot for the feedback which motivates me keeping this add-on public. As noted at the [Turndown's README](https://github.com/domchristie/turndown/tree/e2c64f121a170ad04363c7da3bbf978ebcde5f7f#escaping-markdown-characters), new escaping rules is quite aggressive and it caused a lot of headache while evaluating it last year. Anyway I will try to revisit. Thank you.

[2020-03-20 04:30] 0x6b commented on #56
One question; do you have particular reason/feature for requesting upgrade? I know latest would be greatest but if you have any let me know. Thanks!

[2020-04-21 21:35] CNG opened #57 "Not working with support.mozilla.org"
Hello, is there some kind of special case or known issue preventing this from working with support.mozilla.org? If not, here's a bug report.

---

With the default preferences as well as with **Log debug message in the console** enabled, I am unable to copy selection as Markdown for at least these two web pages:

* https://support.mozilla.org/en-US/kb/setting-certificate-authorities-firefox
* http

[2020-04-22 12:30] 0x6b commented on #57
Hi @CNG, thanks for taking your time to open an issue. Yes, it's intended behavior as, by default, add-ons cannot interfere some pre-configured domains for security reason. You can remove `support.mozilla.org` from the `extensions.webextensions.restrictedDomains` preference at `about:config`. Please try on your end as changing it worked for me.

See [Configuration Editor for Firefox | Firefox Help

[2020-05-03 16:58] clach04 opened #58 "quoting text"
Just tried this out and getting all the text quoted. Looking at settings https://github.com/0x6b/copy-selection-as-markdown/blob/master/src/settings.html#L48 there is an "Append quote (>) to selection, turning off resolves this. Being super pedantic the quoting is prepended :-)

BTW - excellent logging/issue-instructions 👍

**Actual Result**

/* --- copy-selection-as-markdown debug information ---

[2020-05-03 18:56] CNG commented on #57
tldr; After some more testing, it's working for me now, so thank you!

Apologies for the slow reply here.
* First, wanted to thank you for the quick reply!
* Second, I couldn't get this to work and wanted to test more. I had removed all the entries from my `extensions.webextensions.restrictedDomains` and it still was not working. I restarted Firefox a few times. Then, I went to this plugin's setti

[2020-05-03 18:56] #57 closed

[2020-05-07 00:23] 0x6b commented on #58
@clach04 appreciate your efforts on this extension. You are definitely correct 😁 I'll merge the PR #59 and release patched version this week.

[2020-05-09 06:30] #58 closed

[2020-05-09 06:46] 0x6b commented on #58
@clach04 I just released [v0.17.1](https://github.com/0x6b/copy-selection-as-markdown/releases/tag/v0.17.1) on https://addons.mozilla.org/ja/firefox/addon/copy-selection-as-markdown/versions/ which includes your change. Big thanks for your contribution!

[2020-05-14 15:45] boulderob opened #61 "implementation question"
Quick implementation question if you have the time and or know the answer.

Since to my knowledge when you select on a page in a browser, the selection is plain text and not the underlying *html* source representing the text, how does turndown (which you pass the selection off to) know that selected text containing "code blocks" are indeed fenced code blocks?  I hope that makes sense.  I looked in

[2020-05-15 10:49] 0x6b commented on #61
@boulderob,

[`src/lib/util.js`](https://github.com/0x6b/copy-selection-as-markdown/blob/master/src/lib/util.js#L88-L126) will extract HTML representation from your selection. Select some text on this page, open Web Console, paste following snippet, press enter and see how the magic looks like.

[code]

Hope this helps.

[2020-05-15 13:41] boulderob commented on #61
Thanks @0x6b!!  It's hard to find info related to this with online search but i dug further yesterday and it appears the magic is cloneContents.  Your suggestion and code snippet only confirm it!

[2020-05-16 06:56] 0x6b commented on #61
Good to hear that. Will close the issue. Thanks!

[2020-05-16 06:56] #61 closed

[2020-05-26 19:25] t-e-r-m opened #62 "Fenced code blocks don't work as they should"
**Browser**: >=FF 74
**Extension version**: 0.18.0

# Actual Result

[code]
It seems to be the same for ```.
I also checked the sample input at
http://domchristie.github.io/turndown/
in a different file, which ~~reproduced~~ does not reproduce this issue.

# Expected Result
[code]

[2020-05-27 16:38] 0x6b commented on #62
@t-e-r-m, really appreciate your time to report the issue.

I cannot reproduce the issue on Turndown itself, but can see with the extension. I'll look into the situation but unfortunately I have not enough bandwidth to fix it in short term. Thank you.

[2020-05-28 14:25] t-e-r-m commented on #62
I didn't mean to write that, sorry. I meant to write that there's no issues in turndown. Must've fudged something in the edits.
I've edited my post accordingly.

That's fine.

Love the extension, BTW.

[2020-05-29 00:38] 0x6b commented on #62
I see. Thanks for your clarity!

[2020-05-29 14:32] #62 closed

[2020-05-29 14:35] 0x6b commented on #62
@t-e-r-m, I gave a quick look and found a root cause of the issue. Will release new version soon. The issue had been there since [v0.5.0](https://github.com/0x6b/copy-selection-as-markdown/commit/f054cff249dafdd71fa761d1d84847103ccc8c56)! Why I can't notice this for over a year??

[2020-05-30 04:11] 0x6b commented on #50
I'm slowly working on Chrome support at [chromium](https://github.com/0x6b/copy-selection-as-markdown/tree/chromium) branch. Initial implemention works for me but release will take some more time as there's still a lot to do. Hosting on add0n.com won't happen though.

[2020-05-30 13:48] #21 closed

[2020-05-30 13:48] #56 closed

[2020-08-05 07:57] viktomas opened #68 "Using regular expressions in the title substitution"
## Problem to solve

Some titles contain strings that are not desirable in the final markdown link. The [title substitution](https://github.com/0x6b/copy-selection-as-markdown#advanced) currently solves this problem by specifying strings that get removed.

The problem is that the current functionality only allows static strings. We can't remove dynamically generated parts of the title.

### Exampl

[2020-09-07 14:06] alexanderadam opened #69 "optionally embedd images as base64"
It's possible to embed images via `data` URLs in base64. For example

[code]

It would be nice if `copy-selection-as-markdown` would support this functionality as well.
This way it would be easier to have a full backup of an article that might be deleted later on, including it's resources.

**PS:** Thank you for this extension :pray:
**PPS:** There are also browser extensions like [`img2base64`](h

[2020-09-07 20:07] bs opened #70 "Access your data for all websites"
What's the reason this needs access to data for all websites? Couldn't find it anywhere in the documentation!

[2020-10-01 14:48] alexanderadam commented on #69
There's also [a tool for backing up Medium articles called `medup`](https://github.com/miry/medup#export-post) that's doing this.
What I like about the approach in `medup` is, that the images are only inlined at the end and there are only references to them within the regular text flow.

[2020-10-03 12:46] 0x6b commented on #70
Very good question @bs. Since the inception of this addon the `<all_urls>` have exists (almost three years!) but I have to be more careful for this. Will remove unnecessary permissions and release new version.

https://github.com/0x6b/copy-selection-as-markdown/blob/b6e1a4955912fb600f346a8e847ba7cbfa86130c/src/manifest.json#L15-L21

[2020-10-03 12:48] 0x6b commented on #68
@viktomas: Appreciate your time for this enhancement request! Your suggestion makes sense for me. Let me consider how I can implement this.

[2020-10-03 12:49] 0x6b commented on #69
@alexanderadam: Thanks a lot for your suggestion! I don't have your use case but interesting enhancement. challenge accepted!

[2020-10-03 12:55] 0x6b commented on #70
#72 addressed this issue.

[2020-10-03 13:13] 0x6b commented on #70
@bs 0.19.1 with reduced permissions is just released. The extension now doesn't need all website access. Grab the update from your Add-on manager. Thanks again for the issue.

[2020-10-03 13:13] #70 closed

[2020-10-09 06:23] 0x6b commented on #69
Will update this issue after release.

[2020-10-09 07:35] 0x6b commented on #69
@alexanderadam: Just released v0.20.4 which contains this feature. Grub your update and let me know if you found any issue. Thanks!

[2020-10-09 07:37] 0x6b commented on #69
Check **Embed <code>img</code>s (.gif, .jpg, .jpeg, .png, and .webp) as base64 text as possible** at Advanced setting to enable the feature. It requires additional permission to access referenced images.

[2020-10-09 08:32] alexanderadam commented on #69
@0x6b, Thank you so much for working on this. :raised_hands:
Unfortunately it didn't work properly when I just tested this.
I marked your avatar here on this issue page and I got a reference but it wasn't base64 encoded.

It looks like this:

[code]

Or did I miss a setting?

[2020-10-09 09:34] 0x6b commented on #69
Maybe I somehow misunderstand the optional permission concept. I also see permission error in the console like:

[code]

Will work on this again. Thanks for testing!

[2020-10-09 09:42] alexanderadam commented on #69
I absolutely agree and I value your concerns in this regards. :+1:
More people should focus which permissions their extension or app is using.

[2020-10-10 20:39] ngirard opened #74 "Unable to use when in reader view"
A very common workflow of mine is to toggle the reader view from Firefox (using Ctrl+Alt+r) in order to simplify the contents of a page, then copy some or all of its contents.

Unfortunately, when in reader view (and the current url has switched to `about:reader?url=https...`), Copy-selection-as-markdown cannot be used any more.

Could this be fixed ?
Could it be related to #70 ?

Cheers, and than

[2020-10-13 06:15] 0x6b commented on #74
@ngirard Unfortunately your problem cannot be fixed, and is not related to #70. For security reason, any extensions cannot inject content script to `about:` URLs (other than `about:blank`) including the reader view. You can find relevant bug at [1371786 - Allow content scripts on reader mode pages](https://bugzilla.mozilla.org/show_bug.cgi?id=1371786).

At this moment I can't fix this so will clos

[2020-10-13 06:15] #74 closed

[2020-10-13 07:12] ngirard commented on #74
Hey, thanks for your detailed explanation.
Those browsers' limitations are a real pain in the ass...
Would it make sense for your extension to offer to transform the contents of the clipboard, then ? If not, never mind -- I'll keep processing these html contents by hand using Pandoc. Not a big deal !

[2020-10-27 10:40] viktomas commented on #68
@0x6b Would you like me to try and implement this enhancement? How does the "prposal" in the description sound?

[2020-11-03 04:41] 0x6b commented on #68
@viktomas sorry for delay on my end. Of course you can try to implement the feature! Proposal looks good to me. (If we'd like to avoid breaking change completely, we can introduce new dedicate textarea for regex substitution.)

[2020-11-06 10:39] anishmittal2020 opened #76 "Doesn't work on Mozilla's website"
Just a general question: Does Mozilla prevent any extension from working on its website such as - [Configuring Email Aliases](https://support.mozilla.org/en-US/kb/configuring-email-aliases)?

[2020-11-07 06:59] 0x6b commented on #76
@anishmittal2020: Yes. See #57 for how to enable this extension work with the site. Thanks!

[2020-11-07 17:33] #76 closed

[2020-11-10 11:26] alexanderadam opened #77 "<pre> is not converted to ```"
**Actual Result**

1. Go to https://atom.io/packages/markdown-table-calc
2. Copy the description
3. Paste it somewhere

[code]

![Copying with copy selection as markdown](https://user-images.githubusercontent.com/372620/98667928-6b07e480-234f-11eb-8d21-5f29d1efcd2c.gif)

**Expected Result**

<pre>
[code]
</pre>

[2020-11-11 02:56] 0x6b commented on #77
@alexanderadam: appreciate your efforts to report this. It's interesting. At this moment Turndown treats only `<pre><code>...</code></pre>` as code block. Let me see how I can address your use case, but due to my recent situation it'll take some time. Thanks!

[2020-11-11 07:34] alexanderadam commented on #77
that's absolutely no problem! Always keep in mind that time outside of FOSS projects and your health are most important, too!
So really no pressure on that.

[2020-12-23 16:24] graphit0 opened #79 "Feature request: copy multiple links at the same time"
Hey, what a great add-on you've got, thank you for your work!

## The feature request
Could be very nice to be able to **copy multiple links in markdown at the same time**

## The Why
From time to time I open too many tabs and it could be handy to just save them all for future as markdown links. It's okay if you have one or two, but 30+ tabs (one normal research session on modern computer) -- is a

[2021-01-21 00:35] 0x6b commented on #79
@graphit0 thanks for the request. TIL I can select multiple tabs. Wow. I'll consider how I can implement it.

[2021-02-07 13:39] alexanderadam opened #81 "Switch from `turndown-plugin-gfm` to `joplin-turndown-plugin-gfm` (or any other maintained fork)"
The original plug-in is not maintained (last patch is from 3 years ago and PRs for bugfixes aren't merged) and it's not able to convert tables properly (see [this](https://github.com/domchristie/turndown-plugin-gfm/issues/19) or [this](https://github.com/domchristie/turndown-plugin-gfm/issues/3)).

But it seems that forks like [`joplin-turndown-plugin-gfm`](https://github.com/laurent22/joplin-turn

[2021-02-27 09:44] alexanderadam opened #82 "Not working on some pages"
**Actual Result**

The extension doesn't seem to copy anything on [the Thunderbird FAQ](https://support.mozilla.org/en-US/products/thunderbird/how).
Is this some restriction? Or is this a security feature of firefox?

[2021-03-24 16:06] anishmittal2020 commented on #77
@0x6b I observed same behaviour in [Managing Logging in Systemd - Selectel Blog](https://blog.selectel.com/managing-logging-systemd/). `pre` tag is not getting parsed!

This Chome extension: https://chrome.google.com/webstore/detail/copy-as-markdown/dgoenpnkphkichnohepecnmpmihnabdg, successfully is able to parse it.  Github: [JohnnyFee/CopyAsMarkdown: This is a Chrome Extension used to copy the el

[2021-04-03 12:17] 0x6b commented on #82
@alexanderadam Thank you for the issue. Yes this is security feature of Firefox, which restricted running anyextension from being injected to some Mozilla related sites. Please see [#57](https://github.com/0x6b/copy-selection-as-markdown/issues/57) for how to enable this extension work with the site. Thanks!

[2021-04-03 12:19] 0x6b commented on #81
@alexanderadam Thank you for the suggestion. Really glad your feedback and it's totally my pleasure. The plugin you mentioned is really promising. I'll test it and get back to you (hopefully sooner but I have recently have limited bandwidth).

[2021-04-03 12:21] 0x6b commented on #82
Will update README and close this issue.

[2021-04-03 12:40] #82 closed

[2021-04-04 10:10] alexanderadam commented on #81
No pressure. Take your time, stay healthy and enjoy time with your loved ones. Maintaining FOSS is no obligation. :wink:

[2021-06-26 10:44] alexanderadam commented on #81
Now [there's also another fork](https://github.com/domchristie/turndown-plugin-gfm/pull/31#issuecomment-868967826).
I don't know which one might be better, though. :man_shrugging:

It'd probably be easier to have fixes in a _single_ fork than distributed over _many_, but I'm not making the rules. :disappointed:

[2021-06-26 16:18] 0x6b commented on #68
@viktomas v0.21.0, which includes your PR #80, is just published. Thanks much for your contribution!

[2021-06-26 16:18] #68 closed

[2021-06-26 16:27] 0x6b commented on #81
@alexanderadam Thanks for your patience and update for the issue. Newer fork looks good to me, as it might have a chance to merge into the original one. I'll compare these.

[2021-06-26 16:37] alexanderadam commented on #81
What makes you think that? :thinking:

The old fork also [has a PR ongoing… since 2018](https://github.com/domchristie/turndown-plugin-gfm/pull/10#issue-188592575).

But the maintainer of the original project never merged it. I also [asked the maintainer to explicitly mention at least, that the package isn't maintained](https://github.com/domchristie/turndown-plugin-gfm/issues/28#issue-802953822).

[2021-06-26 16:49] 0x6b commented on #50
I've setup [$5 GitHub one-time sponser](https://github.com/sponsors/0x6b?frequency=one-time) for those who want to see this addon on the Chrome Web Store (which needs 5 USD registration fee.) Will close this issue hoping someone will help us🤞

[2021-06-26 16:49] #50 closed

[2021-06-26 16:51] 0x6b commented on #81
Ah I didn't know the https://github.com/domchristie/turndown-plugin-gfm/pull/10. Now it's difficult to compare 🤔

[2021-06-29 15:58] peace2000 opened #96 "Add option to strip part the title begining from a spefic string"
Hi, many people don't necessarily know how to use regex, so could you consider adding an option to strip part of the title, begining from a specific string of text?

For e.g., many sites use vertical lines to separate multiple titles in tabs. One tab title could for e.g. be:

`Something | Strange - in the neighborhood`

So in this case, I want to drop everything, begining from:  " | " (vertical li

[2021-07-02 14:40] 0x6b commented on #96
@peace2000 thank you your issue. That regex code works for me. You might forgot surrounding it with `/`. Please try again with `/\s.*/`, or more specifically with `/\s\|.*/` for your use case.

For adding new option, it might cause unexpected result as title delimiter is not standardized in any way so I prefer current geeky but granular control. Also precedence between preferences (that possible n

[2021-07-02 17:40] peace2000 commented on #96
Hi, thanks for the rule. It works as intended.

I didn't mean that specific characters should automatically or presumably considered as delimiters, as web pages do use different characters to separate texts, that's true. I suggested that users could have an option to freely choose which characters or text strings would be used to remove stuff in a way that instead of removing the exact string, the

[2021-07-04 14:12] 0x6b commented on #96
Glad the rule worked for you. I understood your point! I will close this issue for now but the request is noted. Once I have a time to rethink the settings (which has room for improvement I know) I will revisit this. Thanks!

[2021-07-04 14:12] #96 closed

[2021-07-20 10:02] lamyergeier opened #98 "Issues: Tables are not rendered correctly"
Source: [Debits and credits - Wikipedia](https://en.m.wikipedia.org/wiki/Debits_and_credits), under the heading: - [Aspects of transactions](https://en.m.wikipedia.org/wiki/Debits_and_credits#Aspects_of_transactions)

**Actual Result**
On the other hand, increases in revenue, liability or equity accounts are credits or right side entries, and decreases are left side entries or debits.

 Kind of ac

[2021-07-26 13:32] 0x6b commented on #98
Thanks for the issue @anishmittal2020. The part works for me. Can you please check your addon version? It should be:

- Version 0.21.0
- Last Updated June 27, 2021

Update to the latest by `about:addons` → **Gear** icon at top-right → **Check for updates**, restart your browser, and retry please. As it's works for me it might be difficult to investigate and/or fix I'm afraid.

[2021-07-26 22:16] anishmittal2020 commented on #98
@0x6b I have same Addon version, and I tried once again, I got exeactly the same issue.

Firefox: 90
OS: Ubuntu 20.04
Extension Version: 0.21.0
Last Updated: 26 June 2021

[2021-07-28 01:12] anishmittal2020 opened #99 "Title Substitution `|` with `-`"
I want to substitute `|` with `-`, so I did `/\|/-/` but it doesn't work. Any suggestions?

---

**Actual Result**
[How Long Do Weight Loss Plateaus Last? | Livestrong.com](https://www.livestrong.com/article/430529-how-long-do-weight-loss-plateaus-last/)

**Expected Result**
[How Long Do Weight Loss Plateaus Last? - Livestrong.com](https://www.livestrong.com/article/430529-how-long-do-weight-loss-

[2021-07-31 13:23] parabolapersuader opened #100 "Do use the form <URL>"
Currently, the extension does not check for the text and the link. The result is

[code]

instead of the simpler

[code]

[2021-08-06 17:53] parabolapersuader opened #101 "Square brackets in links should be escaped"
`[bla bla bla [4k!] bla bla](https://link)` should be `[bla bla bla \[4k!\] bla bla](https://link)`

[2021-09-24 20:22] anishmittal2020 commented on #99
@0x6b Any suggestion how can we do this, please?

[2021-09-26 12:17] 0x6b commented on #99
@anishmittal2020 Sorry for delay. `/from/to/` won't work. As described at the description, specified part will be removed but not be substituted.

It looks "Title Substitution" is confusing. Any suggestion?

[2021-09-26 12:23] 0x6b commented on #98
@anishmittal2020 Can you try the page with checking **Enable GitHub Flavored Markdown (strikethrough, tables, and taskListItems) support**? [Original Markdown syntax](https://daringfireball.net/projects/markdown/syntax) does not support table so you have to check the preference.

[2021-09-26 12:25] 0x6b commented on #100
@parabolapersuader Thanks for opening an issue but I cannot figure out what your problem is. Can you please follow the issue template https://raw.githubusercontent.com/0x6b/copy-selection-as-markdown/master/.github/ISSUE_TEMPLATE.md.

[2021-09-26 12:26] 0x6b commented on #101
@parabolapersuader Can you please follow the issue template https://raw.githubusercontent.com/0x6b/copy-selection-as-markdown/master/.github/ISSUE_TEMPLATE.md. Thank you.

[2021-09-26 12:59] anishmittal2020 commented on #99
May be `/from/to/` could be supported? It would be really useful.

[2021-10-01 08:29] anishmittal2020 commented on #98
Hi what you mentioned worked for the aforemnetioned example. I changed my settings:

![image](https://user-images.githubusercontent.com/42092626/135589561-6deed4c5-98db-48dd-9db7-f4fc59ae991b.png)

But it does not work in this example: [Attitudes, Beliefs, and Values  SPCH 1311: Introduction to Speech Communication](https://courses.lumenlearning.com/atdcoursereview-speechcomm-1/chapter/attitudes-b

[2021-10-01 08:35] anishmittal2020 opened #102 "Dark Mode: Preferences Window"
Would be good to have a Dark Mode for Preferences Window:

![image](https://user-images.githubusercontent.com/42092626/135590425-eb40fbc9-78b9-49a0-aef1-94e4b3fc719e.png)

[2022-01-21 12:43] alexanderadam opened #103 "Fix CORS issue when trying to convert images to base64"
Hi `0x6b`,

I hope you're fine.

**Actual Result**

I [tried to copy something](https://threadreaderapp.com/thread/1482336230599802882.html) and it failed due to a CORS rule when trying to fetch images.

Usually APIs to fetch document can decide whether they go with or without CORS.
I guess that the referring domain is always `localhost` or something like that?
Anyway, most libraries and native AP

[2022-01-21 12:48] alexanderadam opened #104 "An error inbetween should not break the whole copy progress"
**Actual Result**

As mentioned before, [I encountered an CORS error](https://github.com/0x6b/copy-selection-as-markdown/issues/103).
I only saw this because copying didn't work at all and I looked at the console log.
But in theory this doesn't have to be like this, right?
If an error happend for processing a part of the source, it could be replaced by something like `Unable to copy xyz` or in the

[2022-01-21 12:53] alexanderadam opened #105 "Strip trailing whitespaces"
**Actual Result**

Copied text from the extension should not contain trailing whitespaces since they don't have any meaning in Markdown.

**Expected Result**

No trailing whitespaces

[2022-01-21 13:02] alexanderadam commented on #100
I guess I can help:

Markdown knows at least three kinds of links. Two of them are already available via the extension (`[caption](http://...)` and referenced `[caption][1] [1]: http://`).

But the third one is a short variant in cases where caption and URL are identical:

[code]

You can see its [reference here](https://www.markdownguide.org/basic-syntax/#links).

This also works for emails (`<he

[2022-01-21 13:06] alexanderadam commented on #35
As far as I know, this is currently a limitation on the Firefox side.
Non-"Recommended Extensions" can currently [only be activated in Firefox Nightly](https://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly/).

[2022-07-26 07:56] brisdaz opened #110 "Option to disable in context menu: copy link, copy title"
I have [GitHub - yorkxin/copy-as-markdown](https://github.com/yorkxin/copy-as-markdown)  Firefox Extension to **copy links** and **page title/url** as I don't need it in this extension. I don't want to disable or uninstall the other extension as it has powerful features such as copy all tabs with title and URLs or copy selected with title and URLs.

[2022-09-21 19:17] tsaost opened #112 "Better handling of name anchor"
First of all, thank you for this great extension.  I was going to write a simple extension that will capture URLs from links and embed them inside plain text before copying them to the clipboard, but your extension is way better.

The extension currently does not handle [named anchors](https://stackoverflow.com/questions/6695439/how-to-link-to-a-named-anchor-in-multimarkdown), it would be nice if

[2022-10-05 08:51] dylanmorroll opened #113 "Can't enable 'Reduce padding spaces for list items'"
When I select the 'Reduce padding spaces for list items', it never seems to save. The other checkboxes around it do.

Here's my preferences page:
![image](https://user-images.githubusercontent.com/9341472/194020449-bef5eac5-c0f6-4c8b-aab2-64bf6ff8b80a.png)

I select this checkbox and the one below it and hit save:
![image](https://user-images.githubusercontent.com/9341472/194020508-977cd9e0-3014-4

[2022-10-05 08:56] dylanmorroll opened #114 "Option to move link to source to end of quote"
It would nice if there was the option to append the link to source at the end of the quote rather than before it - I always end up moving it haha. Thanks for the great extension!